body
{
	background-color: #E0E4CC;
	font-family: 'Baloo Chettan 2', cursive;
}

#cointainer
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#topp
{
	border: 5px ridge black;
	background-color: #FA6900;
	border-radius: 10px;
}

#title
{
	float:left;
	height: 150px ;
	width: 686px;
	padding: 30px;
	font-size: 65px;
	border-right: 3px dotted black;
	letter-spacing: 2px;
	font-weight: 700;
	text-decoration-style: solid;
}

#photo
{
	float:left;
	height: 150px;
	width: 200px;
	padding: 20px;
}

#navigation
{
	height: 70px;
	background-color:#69D2E7;
	border-radius: 10px;
} 

.option
{
	float:left;
	width: 164px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	border-right: 2px dashed black;
}

.option:hover
{
	background-color:#0043A4;
	cursor: pointer;
	border-radius: 20px;
}

#frame
{
	border: 3px solid black;  
}

#content
{
	float:left;
	height: 500px;
	width: 721px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 3px;
	padding: 10px;
	background-color:#F38630;
	border: 3px solid white;
}

#termin
{
	float:left;
	height: 500px;
	width: 214px;
	margin: 3px;
	padding: 10px;
	background-color: #A7DBD8;
	border: 5px solid black;
	border-radius:10px;
}

#actual
{
	float:top;
	height: 70px;
	font-size: 50px;
	text-decoration:dashed;
}

#rest_content
{
	float: top;
	height: 430px;
	width: 730px;
	overflow: auto;
}

#date
{
	float: top;
	text-align:center;
	font-size: 40px;
}

.date_c
{
	floata: top;
	font-size: 20x;
}

#end
{
	height: 160px;
	margin-bottom: 20px;
	background-color:#F38630;
}

.end_option
{
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	height: 150px;
	float: left;
	width: 310px;
	border-right: 3px dashed black;
}

.contact
{
	float:top;
}